.form-control,
.form-control:focus{
    background-color: rgba(255,255,255,0.0);
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px 0px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    font-size: 22px;
}

.form-group{
    margin-bottom: 25px;
}

.form-group label{
    color: #002c76;
}

/* ESta es la prueba de branch v1 */